services:
  minecraft-service:
    image: itzg/minecraft-server:java25-graalvm
    container_name: fabric-server
    restart: unless-stopped
    ports:
      - "25565:25565"
      - "25565:25565/udp"
      - "24454:24454/udp"
    environment:
      EULA: true
      TYPE: FABRIC
      VERSION: LATEST
      MOTD: "%TYPE% server running §l§cMinecraft§r §n%VERSION%.\ Aka A §g§lminecraft§r §u-.-§r §5§mServer§r\\nmade by §a§kkaktus"
      ICON: "/icon.png"
      OVERRIDE_ICON: true
      LEVEL: "world"
      ONLINE_MODE: true

      MAX_PLAYERS: "20"
      DIFFICULTY: HARD
      MODE: "SURVIVAL"
      PVP: "TRUE"

      VIEW_DISTANCE: 16
      SPAWN_PROTECTION: 0
      SIMULATION_DISTANCE: 10

      EXISTING_OPS_FILE: "SYNCHRONIZE"
      OPS: "${MC_OPS}"
      EXISTING_WHITELIST_FILE: "SYNCHRONIZE"
      WHITELIST: "${MC_WHITELIST}"
      ENFORCE_WHITELIST: true
      ENABLE_WHITELIST: true

      RCON_PASSWORD: ${RCON_PASSWORD}

      USE_MEOWICE_FLAGS: true
      USE_MEOWICE_GRAALVM_FLAGS: true
      MEMORY: 5G
      JVM_OPTS: "-XX:+UnlockExperimentalVMOptions -XX:+UseCompactObjectHeaders" # not in meowice yet

      REMOVE_OLD_MODS: false
      MODRINTH_PROJECTS_DEFAULT_VERSION_TYPE: BETA
      MODRINTH_PROJECTS: |
        fabric-api
        fabric-language-kotlin
        fabricexporter
        spark
        krypton
        ferrite-core
        lithium
        scalablelux
        c2me-fabric
        entityculling
        clumps
        alternate-current
        servercore
        #fastback
        no-chat-reports
        view-distance-fix
        chunky
        bluemap
        simple-voice-chat
        #plasmo-voice # TODO: migrate from svc
        calcmod
        appleskin
        netherportalfix
        balm # netherportalfix dep
        emotecraft
        player-animation-library # emotecraft dep
        # worldedit
        # axiom
        # carpet
        # packet-fixer
        # luckperms
        # yungs-better-nether-fortresses
        # yungs-better-ocean-monuments
        # yungs-better-dungeons
        # yungs-better-mineshafts
        # yungs-better-jungle-temples
        # yungs-better-end-island
        # yungs-better-strongholds
        # yungs-better-whitch-huts
        # yungs-bridges
        # yungs-extras
      RCON_CMDS_STARTUP: |-
        gamerule players_sleeping_percentage 0
    volumes:
      - ./static/icon.png:/icon.png
      - ./data/minecraft:/data
    healthcheck:
      test: ["CMD", "mc-health"]
      interval: 1m
      timeout: 20s
      retries: 15
      start_period: 2m
    deploy:
      resources:
        limits:
          memory: 6.5G
    networks:
      minecraft-network:
        aliases:
          - mc-server

  backups:
    image: itzg/mc-backup
    container_name: mc-backup
    restart: unless-stopped
    environment:
      INITIAL_DELAY: 5m
      BACKUP_INTERVAL: 6h
      PRUNE_BACKUPS_DAYS: 3
      PRUNE_BACKUPS_COUNT: 5
      RCON_HOST: minecraft-service
      RCON_PASSWORD: "${RCON_PASSWORD}"
    volumes:
      - ./data/minecraft:/data:ro
      - ./backups:/backups
    depends_on:
      minecraft-service:
        condition: service_healthy
    networks:
      minecraft-network:
        aliases:
          - mc-backup

  grafana:
    image: grafana/grafana-oss:latest
    container_name: grafana
    restart: unless-stopped
    ports:
      - "${TS_IP}:3000:3000"
    environment:
      - GF_SECURITY_ADMIN_PASSWORD=${GRAFANA_PASSWORD}
    volumes:
      - grafana_data:/var/lib/grafana
    networks:
      minecraft-network:
        aliases:
          - grafana

  # Gather node data
  node-exporter:
    image: prom/node-exporter:latest
    container_name: node-exporter
    restart: unless-stopped
    command:
      - "--path.procfs=/host/proc"
      - "--path.rootfs=/rootfs"
      - "--path.sysfs=/host/sys"
      - "--collector.filesystem.mount-points-exclude=^/(sys|proc|dev|host|etc)($$|/)"
    volumes:
      - /proc:/host/proc:ro
      - /sys:/host/sys:ro
      - /:/rootfs:ro
    networks:
      minecraft-network:
        aliases:
          - node-exporter

  # Collect metrics
  prometheus:
    image: prom/prometheus:latest
    container_name: prometheus
    restart: unless-stopped
    command:
      - "--config.file=/etc/prometheus/prometheus.yml"
      - "--storage.tsdb.path=/prometheus"
      - "--web.enable-remote-write-receiver"
    ports:
      - "9090:9090"
    volumes:
      - ./prometheus/prometheus.yml:/etc/prometheus/prometheus.yml
      - prometheus_data:/prometheus
    networks:
      minecraft-network:
        aliases:
          - prometheus

  # Collect logs
  loki:
    image: grafana/loki:latest
    container_name: loki
    restart: unless-stopped
    ports:
      - "3100:3100"
    # command: "-config.file=/etc/loki/local-config.yaml"
    # volumes:
    #   - ./loki/loki-config.yaml:/etc/loki/local-config.yaml
    #   - loki_data:/loki
    networks:
      minecraft-network:
        aliases:
          - loki

  # Telemetry pipeline (forward data to loki/prometheus)
  alloy:
    image: grafana/alloy:latest
    container_name: alloy
    restart: unless-stopped
    ports:
      - "12345:12345"
    command:
      [
        "run",
        "--storage.path=/var/lib/alloy/data",
        "--server.http.listen-addr=0.0.0.0:12345",
        "/etc/alloy/config.alloy",
      ]
    volumes:
      - ./alloy/config.alloy:/etc/alloy/config.alloy:ro
      # Mount the Rootless Socket & Logs
      - /run/user/${DOCKER_UID}/docker.sock:/var/run/docker.sock
      - /home/${USERNAME}/.local/share/docker/containers:/var/lib/docker/containers:ro
      - alloy_data:/var/lib/alloy/data
    depends_on:
      - loki
    networks:
      minecraft-network:
        aliases:
          - alloy

  portainer:
    image: portainer/portainer-ce:latest
    container_name: portainer
    restart: unless-stopped
    ports:
      - "${TS_IP}:9000:9000"
    volumes:
      # Map the docker socket
      - /run/user/${DOCKER_UID:-1000}/docker.sock:/var/run/docker.sock
      - portainer_data:/data
    networks:
      minecraft-network:
        aliases:
          - portainer

networks:
  minecraft-network:
    name: minecraft

volumes:
  prometheus_data:
  loki_data:
  grafana_data:
  portainer_data:
  alloy_data:
