services:
  mc:
    image: itzg/minecraft-server:java25-graalvm
    container_name: prd-hel1-mc-01
    restart: unless-stopped
    ports:
      - "25565:25565"
      - "25565:25565/udp"
    environment:
      EULA: "TRUE"
      TYPE: "FABRIC"
      VERSION: "1.21.11"
      MEMORY: "6G"
      MOTD: "A %TYPE% server running minecraft %VERSION%"
      ICON: "/icon.png"
      OVERRIDE_ICON: "TRUE"
      OPS: "${MC_OPS}"
      DIFFICULTY: "HARD"
      ONLINE_MODE: "TRUE"
      WHITELIST: "${MC_WHITELIST}"
      ENFORCE_WHITELIST: "TRUE"
      ENABLE_WHITELIST: "TRUE"
      RCON_PASSWORD: ${RCON_PASSWORD}
      USE_MEOWICE_FLAGS: "TRUE"
      MODRINTH_PROJECTS: |
        fabric-api
        fabric-language-kotlin
        fabricexporter
        krypton
        ferrite-core
        lithium
        scalablelux
        entityculling
        c2me-fabric
        spark
        simple-voice-chat
        distanthorizons
    volumes:
      - ./static/icon.png:/icon.png
      - ./data/minecraft:/data
    healthcheck:
      test: mc-health
      interval: 1m
      timeout: 5s
      retries: 15

  backups:
    image: itzg/mc-backup
    container_name: mc-backup
    restart: unless-stopped
    environment:
      BACKUP_INTERVAL: "6h"
      PRUNE_BACKUPS_DAYS: 7
      RCON_HOST: mc
      RCON_PASSWORD: "${RCON_PASSWORD}"
    volumes:
      - ./data/minecraft:/data:ro
      - ./backups:/backups
    depends_on:
      - mc

  # Monitoring Stack (Standardized)
  node-exporter:
    image: prom/node-exporter:latest
    container_name: node-exporter
    restart: unless-stopped
    command:
      - "--path.procfs=/host/proc"
      - "--path.rootfs=/rootfs"
      - "--path.sysfs=/host/sys"
      - "--collector.filesystem.mount-points-exclude=^/(sys|proc|dev|host|etc)($$|/)"
    volumes:
      - /proc:/host/proc:ro
      - /sys:/host/sys:ro
      - /:/rootfs:ro

  prometheus:
    image: prom/prometheus:latest
    container_name: prometheus
    restart: unless-stopped
    ports:
      - "9090:9090"
    volumes:
      - ./prometheus/prometheus.yml:/etc/prometheus/prometheus.yml
      - prometheus_data:/prometheus

  grafana:
    image: grafana/grafana-oss:latest
    container_name: grafana
    restart: unless-stopped
    ports:
      - "3000:3000"
    environment:
      - GF_SECURITY_ADMIN_PASSWORD=${GRAFANA_PASSWORD}
    volumes:
      - grafana_data:/var/lib/grafana

volumes:
  prometheus_data:
  grafana_data:
