services:
  mc:
    image: itzg/minecraft-server:java25-graalvm
    container_name: prd-hel1-mc-01
    restart: unless-stopped
    ports:
      - "25565:25565"
      - "25565:25565/udp"
      - "24454:24454/udp"
    environment:
      EULA: true
      TYPE: FABRIC
      VERSION: "1.21.11"
      MEMORY: 6G
      MOTD: "%TYPE% server running §l§cMinecraft§r §n%VERSION%"
      ICON: "/icon.png"
      OVERRIDE_ICON: true
      OPS: "${MC_OPS}"
      DIFFICULTY: HARD
      ONLINE_MODE: true
      LEVEL: "world"
      VIEW_DISTANCE: 16
      SPAWN_PROTECTION: 0
      SIMULATION_DISTANCE: 10
      WHITELIST: "${MC_WHITELIST}"
      ENFORCE_WHITELIST: true
      ENABLE_WHITELIST: true
      RCON_PASSWORD: ${RCON_PASSWORD}
      USE_MEOWICE_FLAGS: true
      USE_MEOWICE_GRAALVM_FLAGS: true
      JVM_OPTS: "-XX:+UnlockExperimentalVMOptions -XX:+UseCompactObjectHeaders" # not in meowice yet
      MODRINTH_PROJECTS_DEFAULT_VERSION_TYPE: BETA
      MODRINTH_PROJECTS: |
        fabric-api
        fabric-language-kotlin
        fabricexporter
        spark
        krypton
        ferrite-core
        lithium
        scalablelux
        c2me-fabric
        entityculling
        clumps
        alternate-current
        chunky
        bluemap
        worldedit
        axiom
        carpet
        netherportalfix
        # packet-fixer
        luckperms
        # yungs-better-nether-fortresses
        # yungs-better-ocean-monuments
        # yungs-better-dungeons
        # yungs-better-mineshafts
        # yungs-better-jungle-temples
        # yungs-better-end-island
        # yungs-better-strongholds
        # yungs-better-whitch-huts
        # yungs-bridges
        # yungs-extras
        calcmod
        appleskin
        emotecraft
        no-chat-reports
        simple-voice-chat
        #plasmo-voice # TODO: migrate from svc
      RCON_CMDS_STARTUP: |-
        gamerule players_sleeping_percentage 0
    volumes:
      - ./static/icon.png:/icon.png
      - ./data/minecraft:/data
    healthcheck:
      test: ["CMD", "mc-health"]
      interval: 1m
      timeout: 5s
      retries: 15
      start_period: 2m

  backups:
    image: itzg/mc-backup
    container_name: mc-backup
    restart: unless-stopped
    environment:
      BACKUP_INTERVAL: 6h
      PRUNE_BACKUPS_DAYS: 7
      RCON_HOST: mc
      RCON_PASSWORD: "${RCON_PASSWORD}"
    volumes:
      - ./data/minecraft:/data:ro
      - ./backups:/backups
    depends_on:
      mc:
        condition: service_healthy

  # Gather node data
  node-exporter:
    image: prom/node-exporter:latest
    container_name: node-exporter
    restart: unless-stopped
    command:
      - "--path.procfs=/host/proc"
      - "--path.rootfs=/rootfs"
      - "--path.sysfs=/host/sys"
      - "--collector.filesystem.mount-points-exclude=^/(sys|proc|dev|host|etc)($$|/)"
    volumes:
      - /proc:/host/proc:ro
      - /sys:/host/sys:ro
      - /:/rootfs:ro

  # Collect metrics
  prometheus:
    image: prom/prometheus:latest
    container_name: prometheus
    restart: unless-stopped
    ports:
      - "9090:9090"
    volumes:
      - ./prometheus/prometheus.yml:/etc/prometheus/prometheus.yml
      - prometheus_data:/prometheus

  # Collect logs
  loki:
    image: grafana/loki:latest
    container_name: loki
    user: "${DOCKER_UID}:${DOCKER_GID}"
    restart: unless-stopped
    command: "-config.file=/etc/loki/local-config.yaml"
    volumes:
      - ./loki/loki-config.yaml:/etc/loki/local-config.yaml
      - loki_data:/loki

  # Telemetry pipeline (forward data to loki/prometheus)
  alloy:
    image: grafana/alloy:latest
    container_name: alloy
    restart: unless-stopped
    # Run as user so it can read logs
    user: "${DOCKER_UID}:${DOCKER_GID}"
    ports:
      - "${TS_IP}:12345:12345"
    command:
      ["run", "--storage.path=/var/lib/alloy/data", "/etc/alloy/config.alloy"]
    volumes:
      - ./alloy/config.alloy:/etc/alloy/config.alloy:ro
      # Mount the Rootless Socket & Logs
      - /run/user/${DOCKER_UID}/docker.sock:/var/run/docker.sock
      - /home/${USERNAME}/.local/share/docker/containers:/var/lib/docker/containers:ro
    depends_on:
      - loki

  grafana:
    image: grafana/grafana-oss:latest
    container_name: grafana
    restart: unless-stopped
    ports:
      - "${TS_IP}:3000:3000"
    environment:
      - GF_SECURITY_ADMIN_PASSWORD=${GRAFANA_PASSWORD}
    volumes:
      - grafana_data:/var/lib/grafana

  portainer:
    image: portainer/portainer-ce:latest
    container_name: portainer
    restart: unless-stopped
    ports:
      - "${TS_IP}:9000:9000"
    volumes:
      # Map the docker socket
      - /run/user/${DOCKER_UID:-1000}/docker.sock:/var/run/docker.sock
      - portainer_data:/data

volumes:
  prometheus_data:
  loki_data:
  grafana_data:
  portainer_data:
