services:
  mc:
    image: itzg/minecraft-server:java25-graalvm
    container_name: prd-hel1-mc-01
    restart: unless-stopped
    ports:
      - "25565:25565"
      - "25565:25565/udp"
    environment:
      EULA: true
      TYPE: FABRIC
      VERSION: "1.21.11"
      MEMORY: 6G
      MOTD: "%TYPE% server running §l§cMinecraft§r §n%VERSION%"
      ICON: "/icon.png"
      OVERRIDE_ICON: true
      OPS: "${MC_OPS}"
      DIFFICULTY: HARD
      ONLINE_MODE: true
      LEVEL: "world" # change world
      VIEW_DISTANCE: 16
      SPAWN_PROTECTION: 0
      SIMULATION_DISTANCE: 10
      WHITELIST: "${MC_WHITELIST}"
      ENFORCE_WHITELIST: true
      ENABLE_WHITELIST: true
      RCON_PASSWORD: ${RCON_PASSWORD}
      USE_MEOWICE_FLAGS: true
      USE_MEOWICE_GRAALVM_FLAGS: true
      JVM_OPTS: "-XX:+UnlockExperimentalVMOptions -XX:+UseCompactObjectHeaders" # not in meowice yet
      MODRINTH_PROJECTS_DEFAULT_VERSION_TYPE: BETA
      MODRINTH_PROJECTS: |
        fabric-api
        fabric-language-kotlin
        fabricexporter
        krypton
        ferrite-core
        lithium
        scalablelux
        entityculling
        c2me-fabric
        spark
        simple-voice-chat
      RCON_CMDS_STARTUP: |-
        gamerule playersSleepingPercentage 0
    volumes:
      - ./static/icon.png:/icon.png
      - ./data/minecraft:/data
    healthcheck:
      test: ["CMD", "mc-health"]
      interval: 1m
      timeout: 5s
      retries: 15
      start_period: 2m

  backups:
    image: itzg/mc-backup
    container_name: mc-backup
    restart: unless-stopped
    environment:
      BACKUP_INTERVAL: 6h
      PRUNE_BACKUPS_DAYS: 7
      RCON_HOST: mc
      RCON_PASSWORD: "${RCON_PASSWORD}"
    volumes:
      - ./data/minecraft:/data:ro
      - ./backups:/backups
    depends_on:
      mc:
        condition: service_healthy

  # Monitoring Stack (Standardized)
  node-exporter:
    image: prom/node-exporter:latest
    container_name: node-exporter
    restart: unless-stopped
    command:
      - "--path.procfs=/host/proc"
      - "--path.rootfs=/rootfs"
      - "--path.sysfs=/host/sys"
      - "--collector.filesystem.mount-points-exclude=^/(sys|proc|dev|host|etc)($$|/)"
    volumes:
      - /proc:/host/proc:ro
      - /sys:/host/sys:ro
      - /:/rootfs:ro

  prometheus:
    image: prom/prometheus:latest
    container_name: prometheus
    restart: unless-stopped
    ports:
      - "9090:9090"
    volumes:
      - ./prometheus/prometheus.yml:/etc/prometheus/prometheus.yml
      - prometheus_data:/prometheus

  grafana:
    image: grafana/grafana-oss:latest
    container_name: grafana
    restart: unless-stopped
    ports:
      - "3000:3000"
    environment:
      - GF_SECURITY_ADMIN_PASSWORD=${GRAFANA_PASSWORD}
    volumes:
      - grafana_data:/var/lib/grafana

volumes:
  prometheus_data:
  grafana_data:
