services:
  minecraft-service:
    image: itzg/minecraft-server:java25-graalvm
    container_name: fabric-server
    restart: unless-stopped
    security_opt:
      - no-new-privileges:true
    ports:
      - "25565:25565"
      - "25565:25565/udp"
      - "24454:24454/udp"
      - "25585:25585" # fabricexporter
    environment:
      EULA: true
      TYPE: FABRIC

      # VERSION_FROM_MODRINTH_PROJECTS: true # dynamically set VERSION if all modrinth projects support latest version
      MOTD: "%TYPE% server running §l§cMinecraft§r §n%VERSION%.\ Aka A §g§lminecraft§r §u-.-§r §5§mServer§r made by §a§kkaktus"
      ICON: "/icon.png"
      OVERRIDE_ICON: true
      LEVEL: "world"
      ONLINE_MODE: true

      MAX_PLAYERS: "20"
      DIFFICULTY: HARD
      MODE: "SURVIVAL"
      PVP: "TRUE"

      VIEW_DISTANCE: 16
      SPAWN_PROTECTION: 0
      SIMULATION_DISTANCE: 10

      EXISTING_OPS_FILE: "SYNCHRONIZE"
      OPS: "${MC_OPS}"
      EXISTING_WHITELIST_FILE: "SYNCHRONIZE"
      WHITELIST: "${MC_WHITELIST}"
      ENFORCE_WHITELIST: true
      ENABLE_WHITELIST: true

      RCON_PASSWORD: ${RCON_PASSWORD}

      USE_MEOWICE_FLAGS: true
      USE_MEOWICE_GRAALVM_FLAGS: true
      MEMORY: 5G
      JVM_OPTS: "-XX:+UnlockExperimentalVMOptions -XX:+UseCompactObjectHeaders" # not in meowice yet

      REMOVE_OLD_MODS: false
      VANILLATWEAKS_SHARECODE: SNoKz9
      MODRINTH_PROJECTS_DEFAULT_VERSION_TYPE: BETA
      MODRINTH_DOWNLOAD_DEPENDENCIES: REQUIRED
      MODRINTH_PROJECTS: |
        fabric-api
        fabric-language-kotlin
        fabricexporter
        spark
        krypton
        ferrite-core
        lithium
        scalablelux
        c2me-fabric
        entityculling
        clumps
        alternate-current
        servercore
        no-chat-reports
        view-distance-fix
        chunky
        bluemap
        carpet
        servux
        simple-voice-chat
        #plasmo-voice # TODO: migrate from svc
        calcmod
        appleskin
        netherportalfix
        balm # netherportalfix dep
        emotecraft
        player-animation-library # emotecraft dep
        # worldedit
        # axiom
        # carpet
        # packet-fixer
        # luckperms
        # yungs-better-nether-fortresses
        # yungs-better-ocean-monuments
        # yungs-better-dungeons
        # yungs-better-mineshafts
        # yungs-better-jungle-temples
        # yungs-better-end-island
        # yungs-better-strongholds
        # yungs-better-whitch-huts
        # yungs-bridges
        # yungs-extras
      RCON_CMDS_STARTUP: |-
        gamerule players_sleeping_percentage 0
    volumes:
      - ./static/icon.png:/icon.png
      - ./data/minecraft:/data
    healthcheck:
      test: ["CMD", "mc-health"]
      interval: 1m
      timeout: 20s
      retries: 15
      start_period: 2m
    deploy:
      resources:
        limits:
          memory: 6.5G
    networks:
      minecraft-network:
        aliases:
          - mc-server

  backup:
    image: itzg/mc-backup
    container_name: mc-backup
    hostname: mc-backup-worker
    restart: unless-stopped
    security_opt:
      - no-new-privileges:true
    environment:
      INITIAL_DELAY: 1m
      BACKUP_INTERVAL: 30m
      RCON_HOST: minecraft-service
      RCON_PASSWORD: "${RCON_PASSWORD}"

      # Compression & Size Savings (exclude bluemap)
      EXCLUDES: "bluemap,logs,cache,emotes,*.tmp,web,*.map"

      PRUNE_RESTIC_RETENTION: "--keep-daily 7 --keep-weekly 4 --keep-monthly 6"
      BACKUP_METHOD: "restic"
      RESTIC_PASSWORD: "${RESTIC_PASSWORD}"
      RESTIC_REPOSITORY: "rclone:r2:cactuz-mc-backups"

      # --- CLOUDFLARE R2 CONFIGURATION ---
      RCLONE_CONFIG_R2_TYPE: "s3"
      RCLONE_CONFIG_R2_PROVIDER: "Cloudflare"
      RCLONE_CONFIG_R2_ACCESS_KEY_ID: "${R2_ACCESS_KEY_ID}"
      RCLONE_CONFIG_R2_SECRET_ACCESS_KEY: "${R2_SECRET_ACCESS_KEY}"
      RCLONE_CONFIG_R2_ENDPOINT: "${R2_ENDPOINT}"

      # workaround for https://github.com/itzg/docker-mc-backup/issues/213
      RCLONE_LOG_LEVEL: ERROR
      # needed for Cloudflare R2
      RCLONE_CONFIG_R2_NO_CHECK_BUCKET: "true"
    volumes:
      - ./data/minecraft:/data:ro
      # - ./rclone:/config/rclone
    depends_on:
      minecraft-service:
        condition: service_healthy
    networks:
      minecraft-network:
        aliases:
          - mc-backup

  grafana:
    image: grafana/grafana-oss:latest
    container_name: grafana
    restart: unless-stopped
    security_opt:
      - no-new-privileges:true
    ports:
      - "${TS_IP}:3000:3000"
    environment:
      - GF_SECURITY_ADMIN_PASSWORD=${GRAFANA_PASSWORD}
    volumes:
      - ./grafana:/var/lib/grafana
      - grafana_data:/var/lib/grafana
    networks:
      minecraft-network:
        aliases:
          - grafana

  # Collect metrics
  prometheus:
    image: prom/prometheus:latest
    container_name: prometheus
    restart: unless-stopped
    security_opt:
      - no-new-privileges:true
    command:
      - "--config.file=/etc/prometheus/prometheus.yml"
      - "--web.enable-remote-write-receiver"
    ports:
      - "${TS_IP}:9090:9090"
    volumes:
      - ./prometheus/prometheus.yml:/etc/prometheus/prometheus.yml
      - prometheus_data:/prometheus
    networks:
      minecraft-network:
        aliases:
          - prometheus

  # Collect logs
  loki:
    image: grafana/loki:latest
    container_name: loki
    restart: unless-stopped
    security_opt:
      - no-new-privileges:true
    ports:
      - "${TS_IP}:3100:3100"
    # command: "-config.file=/etc/loki/local-config.yaml"
    volumes:
      # - ./loki/loki-config.yaml:/etc/loki/local-config.yaml
      - loki_data:/loki
    networks:
      minecraft-network:
        aliases:
          - loki

  # Telemetry pipeline (forward data to loki/prometheus)
  alloy:
    image: grafana/alloy:latest
    container_name: alloy
    restart: unless-stopped
    security_opt:
      - no-new-privileges:true
    ports:
      - "${TS_IP}:12345:12345"
    command:
      [
        "run",
        "--server.http.listen-addr=0.0.0.0:12345",
        "--storage.path=/var/lib/alloy/data",
        "/etc/alloy/config.alloy",
      ]
    volumes:
      - ./alloy/config.alloy:/etc/alloy/config.alloy:ro
      # Mount the rootless socket & logs
      - /run/user/${DOCKER_UID}/docker.sock:/var/run/docker.sock
      - alloy_data:/var/lib/alloy/data

      # Mount to interal host/ to not mess with container's own system metrics
      - /:/host/rootfs:ro
      - /sys:/host/sys:ro
      - /proc:/host/proc:ro
      - /run/udev/data:/host/run/udev/data:ro

      # Mount minecraft logs
      # - ./data/minecraft/logs:/var/log/minecraft:ro
    networks:
      minecraft-network:
        aliases:
          - alloy

  portainer:
    image: portainer/portainer-ce:latest
    container_name: portainer
    restart: unless-stopped
    security_opt:
      - no-new-privileges:true
    ports:
      - "${TS_IP}:9000:9000"
    volumes:
      # Map the docker socket
      - /run/user/${DOCKER_UID:-1000}/docker.sock:/var/run/docker.sock
      - portainer_data:/data
    networks:
      minecraft-network:
        aliases:
          - portainer

networks:
  minecraft-network:
    name: minecraft

volumes:
  grafana_data:
  prometheus_data:
  loki_data:
  alloy_data:
  portainer_data:
