name: Deploy Minecraft
on:
  push:
    branches: [main]

jobs:
  deploy:
    runs-on: ubuntu-latest
    environment: prd-hel1
    steps:
      - name: Checkout Code
        uses: actions/checkout@v6

      - name: Authenticate with Tailscale
        uses: tailscale/github-action@v4
        with:
          oauth-client-id: ${{ secrets.TS_OAUTH_CLIENT_ID }}
          oauth-secret: ${{ secrets.TS_OAUTH_SECRET }}
          tags: tag:ci

      - name: Copy Config Files
        uses: appleboy/scp-action@v1
        with:
          host: ${{ vars.TS_HOST }}
          username: ${{ vars.USERNAME }}
          key: ${{ secrets.SSH_PRIVATE_KEY }}
          source: "./compose.yml,./alloy/,./prometheus/,./loki/,./static/"
          target: "/home/${{ vars.USERNAME }}/mc-prod"

      - name: Deploy to VPS
        uses: appleboy/ssh-action@v1
        env:
          RCON_PASSWORD: ${{ secrets.RCON_PASSWORD }}
          GRAFANA_PASSWORD: ${{ secrets.GRAFANA_PASSWORD }}
          MC_OPS: ${{ secrets.MC_OPS }}
          MC_WHITELIST: ${{ secrets.MC_WHITELIST }}
        with:
          host: ${{ vars.TS_HOST }}
          username: ${{ vars.USERNAME }}
          key: ${{ secrets.SSH_PRIVATE_KEY }}
          envs: RCON_PASSWORD,GRAFANA_PASSWORD,MC_OPS,MC_WHITELIST
          script: |
            # Explicitly export the docker host for the non-interactive shell
            export DOCKER_HOST=unix:///run/user/$(id -u)/docker.sock
            export PATH=/home/$HOME/bin:$PATH

            mkdir -p $HOME/mc-prod
            cd $HOME/mc-prod

            if docker compose ps --services --filter "status=running" | grep -q "minecraft-service"; then
              echo "Minecraft server is running. Sending restart notifications..."

              # Send a big title on screen
              docker compose exec -T minecraft-service rcon-cli "title @a title {\"text\":\"Update Incoming!\", \"color\":\"red\"}"
              docker compose exec -T minecraft-service rcon-cli "title @a subtitle {\"text\":\"Server might restart in 30s\", \"color\":\"yellow\"}"

              # Send chat message
              docker compose exec -T minecraft-service rcon-cli "say §cServer is updating and might restart in 30 seconds."
              sleep 20

              # Final countdown
              docker compose exec -T minecraft-service rcon-cli "say §cServer might restart in 10 seconds!"
              docker compose exec -T minecraft-service rcon-cli "title @a title {\"text\":\"Attempting to restart!\", \"color\":\"red\"}"
              sleep 10

              # Force a save just in case
              docker compose exec -T minecraft-service rcon-cli "save-all"
              docker compose exec -T minecraft-service rcon-cli "say §cIf nothing happens, minecraft service was not affected by the update"
            else
              echo "Server is not running. Skipping notifications."
            fi

            # Generate .env file
            : > .env
            printf "TS_IP=%s\n" "$(/usr/bin/tailscale ip -4)" >> .env
            printf "DOCKER_UID=%s\n" "$(id -u)" >> .env
            printf "DOCKER_GID=%s\n" "$(id -g)" >> .env
            printf "USERNAME=%s\n" "$(whoami)" >> .env
            printf "RCON_PASSWORD=%s\n" "$RCON_PASSWORD" >> .env
            printf "GRAFANA_PASSWORD=%s\n" "$GRAFANA_PASSWORD" >> .env
            printf "MC_OPS=%s\n" "$MC_OPS" >> .env
            printf "MC_WHITELIST=%s\n" "$MC_WHITELIST" >> .env
            chmod 600 .env

            # Deploy
            docker compose pull

            # Might want to remove --force-recreate if working on other parts of thes server stack
            docker compose up -d --remove-orphans
            docker system prune -f

            # FIXME: post deployment message -> move to shellscript?

            # if docker compose ps --services --filter "status=running" | grep -q "minecraft-service"; then
            #   echo "Server is up! Sending welcome back message."
            #
            #   docker compose exec -T minecraft-service rcon-cli "title @a clear"
            #   docker compose exec -T minecraft-service rcon-cli "playsound entity.player.levelup master @a"
            #   docker compose exec -T minecraft-service rcon-cli "say §aDeployment complete! Server is stable."
            #   docker compose exec -T minecraft-service rcon-cli "title @a actionbar {\"text\":\"§aSystem Update Complete\", \"bold\":true}"
            # else 
            #   echo "Server not restarted yet, skipping notifications"
            # fi
